// create style to center ion card and let space between card
// and border
.card {
  margin: auto;
  position: absolute;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-container {
  margin: auto;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}
